<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
		
    
 
		<title>{{ page.title }}</title>
	<link rel="stylesheet" type="text/css" href="/css/main.css">

	</head>
	<body>
		<nav>
    		<ul>
        	
	             	<li><a href="/predictions">Predictions</a></li>
	             

    		</ul>
    		</nav>
	
	 <div class="jumbotron">
    <div class="container">
      <h1>CSGO BET PROFITS</h1>
      <p>CS:GO Betting Tips and Predictions</p>
      <a href="https://docs.google.com/spreadsheets/d/1Kv4xIzuWqN1jnEDQKgiFwe-RrgNvKuCmEbmtJAXD5c0/edit#gid=0/">Previous Bet Predictions</a>
    </div>
  </div>
		
  {{ content }}
  
    		
      </div>
      </div>
      
		<footer>
    		<ul>
        		Get Lucky
			</ul>
		</footer>
	</body>
</html>
