<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-71858231-1', 'auto');
  ga('send', 'pageview');
</script>



		<title>{{ page.title }}</title>
	<link rel="stylesheet" type="text/css" href="/css/main.css">

	</head>
	<body>
	<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- TEST1 -->
<ins class="adsbygoogle"
     style="display:inline-block;width:728px;height:90px"
     data-ad-client="ca-pub-6817708321067557"
     data-ad-slot="2751620620"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
		<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/predictions">Predictions</a></li>
		        		<li><a href="/gambling">Gambling</a></li>
	        		    		</ul>
			</nav>
		
	 <div class="jumbotron">
    <div class="container">
    	  <h1>CSGO BET PROFITS</h1>
    	   <a href="http://steamcommunity.com/groups/csgobetprofits//">Join my steam group for giveaways and quick tips</a>
      <p>CS:GO Betting Tips and Predictions</p>
      <a href="https://docs.google.com/spreadsheets/d/1Kv4xIzuWqN1jnEDQKgiFwe-RrgNvKuCmEbmtJAXD5c0/edit?usp=sharing/">Previous Bet Predictions</a>
    
    </div>
  </div>
	
   
  
    		
      
		<footer>
		    	 {{ content }}
   		</footer>
	</body>
</html>
