<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
		
    
 
		<title>{{ page.title }}</title>
	<link rel="stylesheet" type="text/css" href="/css/main.css">

	</head>
	<body>
		<nav>
    		<ul>
        		<li><a href="/">Home</a></li>
	             	<li><a href="/predictions">Predictions</a></li>
	             

    		</ul>
    		</nav>
		
		
  {{ content }}
    		
      </div>
      </div>
      
		<footer>
    		<ul>
        		Get Lucky
			</ul>
		</footer>
	</body>
</html>
